.Header-Container {
    height: 3rem; /* ridotta l’altezza generale */
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgb(38, 36, 36);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem; /* meno padding = header più bassa */
}

/* Contenuto destro (link, icone, ecc.) */
.Right-Header-Content {
    margin-right: 6rem;
    display: flex;
    gap: 25px;
    font-size: 1.5rem;
    color: white;
}

.Right-Header-Content a:hover{
    color:#eb2525;
}

/* Contenuto sinistro (logo + testo) */
.Left-Header-Content {
    margin-left: 3rem;
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Sezione login */
.logInSession {
    display: flex;
}

/* Logo ridimensionato */
.logoCombat {
    width: 60px; /* prima era 100px */
    height: 60px;
    border-radius: 50%;
}

/* Sidebar mobile nascosta di default */
.mobile-sidebar {
    position: fixed;
    top: 0;
    right: -100%; /* fuori dallo schermo */
    width: 250px;
    height: 100vh;
    background-color: rgb(38, 36, 36);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1.5rem;
    transition: right 0.3s ease;
    z-index: 9999;
}

/* Quando aperta */
.mobile-sidebar.open {
    right: 0;
    
}
.close-sidebar {
    position: absolute;
    top: 1rem;
    right: 0.1rem;
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    z-index: 10000; /* più alto della sidebar */

}

/* Link sidebar */
.mobile-sidebar a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    
}

.mobile-sidebar a:hover {
    color: #eb2525;
}

/* Hamburger solo su mobile */
.hamburger-menu {
    display: none;
}

@media screen and (max-width: 768px) {
    .Left-Header-Content {
        margin-left: -1.5rem;
    }

    .logoCombat{
        width: 50px;
        height: 50px;
    }

    .Right-Header-Content {
        display: none;
    }
    .hamburger-menu {
        display: block;
        margin-left: -5rem;
    }
    .titleHeader {
        font-size: 1.1rem;
    }

    .hamburger-react{
        margin-right: 2.5rem!important;
    }
    .whited{
        z-index: 9999999;
        fill: white;
    }
}
